# **Setup Pyspark on Colab**

In [0]:
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
# !tar xf spark-2.4.5-bin-hadoop2.7.tgz
# !pip install -q findspark

In [0]:
# import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

# **Importing modules**

In [0]:
import pandas as pd
import findspark
#findspark.init('/content/spark-2.4.5-bin-hadoop2.7')
findspark.init('/home/cse587/spark-2.4.0-bin-hadoop2.7')
import pyspark
from pyspark import *
from pyspark.sql import *
from pyspark.sql.types import *
import pyspark.sql.functions as F
from pyspark.sql.window import Window as W
from pyspark.sql.functions import (col, max as max_, struct, monotonically_increasing_id,concat_ws,udf,lower, regexp_replace)
from pyspark.ml.feature import StringIndexer, VectorIndexer, Tokenizer, StopWordsRemover,CountVectorizer,Word2Vec
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import HashingTF as MLHashingTF
from pyspark.ml.feature import IDF as MLIDF 
from functools import reduce

In [0]:
spark=SparkSession\
  .builder\
  .appName("Project3")\
  .config("spark.some.config.option", "some-value")\
  .getOrCreate()
  
sqlContext=SQLContext(spark)

# **Importing Data**

In [0]:
# train_data=pd.read_csv("/content/train.csv")
# mapper_data=pd.read_csv("/content/mapping.csv")
# test_data=pd.read_csv("/content/test.csv")

train_data=pd.read_csv("/home/cse587/Downloads/assignment3/train.csv")
mapper_data=pd.read_csv("/home/cse587/Downloads/assignment3/mapping.csv")
test_data=pd.read_csv("/home/cse587/Downloads/assignment3/test.csv")

In [0]:
movie_train=spark.createDataFrame(train_data,schema=None,verifySchema=True)
movie_map=spark.createDataFrame(mapper_data)
movie_test=spark.createDataFrame(test_data)

In [20]:
movie_train.printSchema()

root
 |-- movie_id: long (nullable = true)
 |-- movie_name: string (nullable = true)
 |-- plot: string (nullable = true)
 |-- genre: string (nullable = true)

# **Mapping genres into a list**

In [0]:
# create list of all genres in train
genre_list=[]
for i in movie_train.select('genre').collect():
    genre_list.append(i['genre'])

# create list of distinct genres in map
map_list=[]
for i in movie_map.select('0').collect():
    map_list.append(i['0'])

# mapping 0's and 1's to genres 
final=[]
for i in range(len(genre_list)):
    final.append([])
    temp=genre_list[i].split(',')
    for j in range(len(temp)-1):
        final[i].append(temp[j][2:-1])
    final[i].append(temp[-1][2:-2])

pred_list = []
for i in range(len(final)):
    pred_list.append([])
    for j in range(len(map_list)):
        if map_list[j] in final[i]:
            pred_list[i].append(1)
        else:
            pred_list[i].append(0)

In [0]:
names=[]
for i in map_list:
  string=str(i)
  names.append(string)

# **Separating Mappings to 20 different Columns**

In [0]:
genres=[]
for i in map_list:
 genres.append(StructField(i, IntegerType()))
cSchema = StructType(genres)
test_list = pred_list
temp = spark.createDataFrame(test_list,schema=cSchema)

In [10]:
movie_train = movie_train.withColumn("idx", F.monotonically_increasing_id())
genre_mapped = temp.withColumn("idx", F.monotonically_increasing_id())
windowSpec = W.orderBy("idx")
movie_train  = movie_train .withColumn("idx", F.row_number().over(windowSpec))
genre_mapped = genre_mapped.withColumn("idx", F.row_number().over(windowSpec))
train_df = movie_train.join(genre_mapped, movie_train.idx == genre_mapped.idx).drop("idx")
train_df.show()

+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+
|movie_id|          movie_name|                plot|               genre|Drama|Comedy|Romance Film|Thriller|Action|World cinema|Crime Fiction|Horror|Black-and-white|Indie|Action/Adventure|Adventure|Family Film|Short Film|Romantic drama|Animation|Musical|Science Fiction|Mystery|Romantic comedy|
+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+
|23890098|          Taxi Blues|Shlykov, a hard-w...|['World cinema', ...|    1|     0|           0|       0|     0|           1|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
|31186339|    The Hunger Games|The nation of Pan...|['Action/Adventur...|    1|     0|           0|       0|     1|           0|            0|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              1|      0|              0|
|20663735|          Narasimham|Poovalli Induchoo...|['Musical', 'Acti...|    1|     0|           0|       0|     1|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      1|              0|      0|              0|
| 2231378|  The Lemon Drop Kid|The Lemon Drop Ki...|          ['Comedy']|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
|  595909|   A Cry in the Dark|Seventh-day Adven...|['Crime Fiction',...|    1|     0|           0|       0|     0|           1|            1|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
| 5272176|            End Game|The president is ...|['Action/Adventur...|    1|     0|           0|       1|     1|           0|            0|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              0|      0|              0|
| 1952976|          Dark Water|{{plot}} The film...|['Thriller', 'Dra...|    1|     0|           0|       1|     0|           0|            0|     1|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
|24225279|                Sing|The story begins ...|           ['Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
| 2462689|       Meet John Doe|Infuriated at bei...|['Black-and-white...|    1|     1|           1|       0|     0|           0|            0|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              1|
|20532852|Destination Meatball|A line of people ...|['Animation', 'Sh...|    0|     0|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          1|         1|             0|        1|      0|              0|      0|              0|
|15401493|    Husband for Hire|Lola  attempts to...|          ['Comedy']|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
|18188932|         Up and Down|Milan and Goran a...|['Crime Fiction',...|    1|     1|           0|       0|     0|           1|            1|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
| 2940516|Ghost In The Noon...|Bumbling pirate c...|          ['Comedy']|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
| 1480747|       House Party 2|{{plot}} Followin...|          ['Comedy']|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
|24448645|Forest of the Dam...|Despite Lucy's re...|          ['Horror']|    0|     0|           0|       0|     0|           0|            0|     1|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
|15072401|Charlie Chan's Se...|Alan Colby, heir ...|['Crime Fiction',...|    0|     0|           0|       1|     0|           0|            1|     1|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|
| 4018288|     The Biggest Fan|Debbie's favorite...|           ['Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
| 4596602|      Ashes to Ashes|Ashes to Ashes is...|['Crime Fiction',...|    0|     0|           1|       1|     1|           0|            1|     0|              0|    1|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
|15224586|        Green Dragon|The film follows ...|  ['Indie', 'Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    1|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
|15585766|  The Rats of Tobruk|Three friends are...|           ['Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|
+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+
only showing top 20 rows

# **Data Cleaning : Tokenizing and StopWordRemoval**

In [13]:
df_clean = train_df.select('movie_id','plot')
df_clean = df_clean.select('movie_id',(lower(regexp_replace('plot', "[^a-zA-Z\\s]", "")).alias('plot')))

# Tokenize text
tokenizer = Tokenizer(inputCol='plot', outputCol='tokens')
df_clean = tokenizer.transform(df_clean).select('movie_id','tokens')

# Remove stop words
remover = StopWordsRemover(inputCol='tokens', outputCol='pro_plot')
train_cleaned = remover.transform(df_clean).select('movie_id','pro_plot')

train_cleaned.show()

+--------+--------------------+
|movie_id|            pro_plot|
+--------+--------------------+
|23890098|[shlykov, hardwor...|
|31186339|[nation, panem, c...|
|20663735|[poovalli, induch...|
| 2231378|[lemon, drop, kid...|
|  595909|[seventhday, adve...|
| 5272176|[president, way, ...|
| 1952976|[plot, film, open...|
|24225279|[story, begins, h...|
| 2462689|[infuriated, told...|
|20532852|[line, people, , ...|
|15401493|[lola, , attempts...|
|18188932|[milan, goran, tw...|
| 2940516|[bumbling, pirate...|
| 1480747|[plot, following,...|
|24448645|[despite, lucys, ...|
|15072401|[alan, colby, hei...|
| 4018288|[debbies, favorit...|
| 4596602|[ashes, ashes, se...|
|15224586|[film, follows, e...|
|15585766|[three, friends, ...|
+--------+--------------------+
only showing top 20 rows

In [14]:
test_df = movie_test.select('movie_id','plot')
df_clean = test_df.select('movie_id',(lower(regexp_replace('plot', "[^a-zA-Z\\s]", "")).alias('plot')))

# Tokenize text
tokenizer = Tokenizer(inputCol='plot', outputCol='tokens')
df_clean = tokenizer.transform(df_clean).select('movie_id','tokens')

# Remove stop words
remover = StopWordsRemover(inputCol='tokens', outputCol='pro_plot')
test_cleaned = remover.transform(df_clean).select('movie_id','pro_plot')

test_cleaned.show()

+--------+--------------------+
|movie_id|            pro_plot|
+--------+--------------------+
| 1335380|[film, based, eve...|
|29062594|[group, teenagers...|
| 9252321|[story, zulu, fam...|
|13455076|[stooges, play, t...|
|24165951|[soldieroffortune...|
| 1925869|[set, northwester...|
|10799612|[like, many, moni...|
|28238240|[mickey, scorpion...|
|17124781|[desert, wilderne...|
|28207941|[bimbo, koko, sig...|
|19174305|[tahaan, , lives,...|
|18392317|[betty, startled,...|
|34420857|[nirmal, karthik,...|
| 4039635|[group, journalis...|
| 8034072|[vaibhavari, saha...|
| 4016437|[, movies, narrat...|
| 1520023|[ninja, resurrect...|
|24589422|[spring, , ivan, ...|
|35068740|[muthu, prabhu, ,...|
|21132951|[vishwanathan, , ...|
+--------+--------------------+
only showing top 20 rows

# **Part-1**

# **Term-Document Matrix**

In [37]:
# On train data
cv = CountVectorizer(inputCol="pro_plot", outputCol="features1", vocabSize=1000, minDF=30)
model = cv.fit(train_cleaned)
tdm = model.transform(train_cleaned)
tdm_df = train_df.join(tdm.select('movie_id','features1'), on=['movie_id'])
tdm_df.show()

+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
|movie_id|          movie_name|                plot|               genre|Drama|Comedy|Romance Film|Thriller|Action|World cinema|Crime Fiction|Horror|Black-and-white|Indie|Action/Adventure|Adventure|Family Film|Short Film|Romantic drama|Animation|Musical|Science Fiction|Mystery|Romantic comedy|           features1|
+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
|     330|             Actrius|In order to prepa...|           ['Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,60,69,12...|
|    3217|    Army of Darkness|After being pulle...|['Action/Adventur...|    0|     1|           0|       0|     1|           0|            0|     1|              0|    0|               1|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,2,7,8,...|
|    3837|     Blazing Saddles|In the American O...|          ['Comedy']|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,2,4,9,...|
|    3947|         Blue Velvet|Jeffrey Beaumont ...|['Crime Fiction',...|    0|     0|           0|       1|     0|           0|            1|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|(1000,[0,3,4,5,6,...|
|    4227|        Barry Lyndon| :By What Means R...|['Drama', 'Romanc...|    1|     0|           1|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,2,6,10,1...|
|    4231|Buffy the Vampire...|Buffy Summers  is...|['Action', 'Comed...|    0|     1|           0|       0|     1|           0|            0|     1|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,2,4,5,...|
|    4560|          Braveheart|In the 13th centu...|['Action/Adventur...|    1|     0|           0|       0|     1|           0|            0|     0|              0|    0|               1|        1|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,2,3,5,...|
|    4727|              Batman|When Batman  and ...|['Action/Adventur...|    0|     1|           0|       0|     1|           0|            0|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,2,3,11...|
|    4729|      Batman & Robin| In Gotham City, ...|['Crime Fiction',...|    0|     0|           0|       1|     1|           0|            1|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              1|      0|              0|(1000,[0,2,5,9,15...|
|    5224|        Citizen Kane|Charles Foster Ka...|['Black-and-white...|    1|     0|           0|       0|     0|           0|            0|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|(1000,[0,4,7,8,9,...|
|    5313|Crouching Tiger, ...|Li Mu Bai  is an ...|['Drama', 'Advent...|    1|     0|           1|       0|     1|           0|            0|     0|              0|    0|               0|        1|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,2,3,5,...|
|    5729|    Chariots of Fire|In 1919, Harold A...|           ['Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,3,4,5,...|
|    8481|     Dressed to Kill|Kate Miller is a ...|['Indie', 'Thrill...|    0|     0|           0|       1|     0|           0|            0|     1|              0|    1|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|(1000,[1,7,9,10,1...|
|    8695|Dr. Strangelove o...| United States Ai...| ['Comedy', 'Drama']|    1|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,3,4,9,...|
|    8994|            Das Boot|The story is told...|['Action', 'Thril...|    1|     0|           0|       1|     1|           1|            0|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,2,3,8,9,...|
|    9429|  Young and Innocent| Christine Clay ,...|['Black-and-white...|    0|     0|           0|       1|     0|           0|            1|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,3,6,7,8,...|
|    9835|Escape from New York|In a dystopian 19...|['Crime Fiction',...|    0|     0|           0|       1|     1|           0|            1|     0|              0|    1|               1|        0|          0|         0|             0|        0|      0|              1|      0|              0|(1000,[0,1,2,5,7,...|
|    9979|      Eyes Wide Shut|Dr. Bill Harford ...|['Drama', 'Thrill...|    1|     0|           1|       1|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|(1000,[0,1,2,3,4,...|
|   10193|    Enter the Dragon|Lee  is a Shaolin...|['Crime Fiction',...|    1|     0|           0|       1|     1|           0|            1|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,3,5,6,...|
|   10487|        Evil Dead II|Ash Williams  and...|['Comedy', 'Horror']|    0|     1|           0|       0|     0|           0|            0|     1|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(1000,[0,1,2,3,6,...|
+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
only showing top 20 rows

In [38]:
# On test data
cv = CountVectorizer(inputCol="pro_plot", outputCol="features1", vocabSize=1000, minDF=30)
model = cv.fit(test_cleaned)
tdm = model.transform(test_cleaned)
tdm_df_test = tdm.join(movie_test.select('movie_id'), on=['movie_id'], how='inner').drop('pro_plot')
tdm_df_test.show()

+--------+--------------------+
|movie_id|           features1|
+--------+--------------------+
|   62693|(1000,[0,2,4,5,11...|
|  296252|(1000,[0,1,2,3,4,...|
| 1356971|(1000,[0,2,8,9,16...|
| 1428872|(1000,[0,1,2,3,5,...|
| 1582173|(1000,[0,13,15,21...|
| 1595142|(1000,[0,1,2,3,4,...|
| 1600825|(1000,[0,1,2,3,5,...|
| 1681132|(1000,[0,1,2,3,4,...|
| 2268290|(1000,[0,1,2,13,1...|
| 3327607|(1000,[0,1,5,10,1...|
| 3569957|(1000,[0,1,2,3,4,...|
| 4413498|(1000,[0,2,4,7,11...|
| 4635580|(1000,[0,1,6,10,1...|
| 4950989|(1000,[0,1,2,17,1...|
| 5565692|(1000,[0,2,10,11,...|
| 7003785|(1000,[0,7,9,16,2...|
| 8269287|(1000,[0,1,2,3,4,...|
| 9560197|(1000,[0,2,5,8,13...|
|10731337|(1000,[0,25,33,71...|
|11192132|(1000,[4,15,16,21...|
+--------+--------------------+
only showing top 20 rows

# **Training and Testing Model by Logistic Regression with Term Document Matrix**

**Applying 20 Binary Classfiers**

In [0]:
predlist_1=[]
for i in range(len(map_list)):
  lr = LogisticRegression(featuresCol = 'features1', labelCol = names[i], maxIter=10,regParam=0.1)
  lrModel = lr.fit(tdm_df)

  predictions = lrModel.transform(tdm_df_test)
  predictions=predictions.withColumn('prediction',F.col("prediction").cast(IntegerType()))
  predlist_1.append(predictions.select('movie_id','prediction'))

# **Combining Predictions from 20 Binary Classifiers**

In [0]:
from functools import reduce
dfs_new=[df.selectExpr('movie_id',f'prediction as prediction_{i}') for i, df in enumerate(predlist_1)]
dfs_temp=reduce(lambda x,y:x.join(y,['movie_id'],how='full'),dfs_new)
columns = ['prediction_%d' %i for i in range(len(predlist_1))]
dfs_temp =dfs_temp.withColumn('predictions',concat_ws(" ",*columns)).drop(*columns).toPandas().to_csv('sample1.csv',index=False,header=True)

In [43]:
out1 = pd.read_csv('sample1.csv')
out1

      movie_id                              predictions
0        62693  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
1       296252  1 1 1 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 1
2      1356971  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
3      1428872  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
4      1582173  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
...        ...                                      ...
7772  32032279  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7773  33509716  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7774  33645448  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7775  34195696  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7776  36025899  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[7777 rows x 2 columns]

# **Part-2**

# **TF-IDF**

In [44]:
# On train data
tfidf=train_cleaned.withColumn("pro_plot", concat_ws(",", "pro_plot"))
tfidf = (tfidf
  .rdd
  .map(lambda x : (x.movie_id,x.pro_plot.split(",")))
  .toDF()
  .withColumnRenamed("_1","movie_id")
  .withColumnRenamed("_2","features2"))

htf = MLHashingTF(inputCol="features2", outputCol="tf")
tf = htf.transform(tfidf)
idf = MLIDF(inputCol="tf", outputCol="idf")
tfidf_df = idf.fit(tf).transform(tf)
idf_df = train_df.join(tfidf_df.select('movie_id','idf'), on=['movie_id'])
idf_df.show()

+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
|movie_id|          movie_name|                plot|               genre|Drama|Comedy|Romance Film|Thriller|Action|World cinema|Crime Fiction|Horror|Black-and-white|Indie|Action/Adventure|Adventure|Family Film|Short Film|Romantic drama|Animation|Musical|Science Fiction|Mystery|Romantic comedy|                 idf|
+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
|   75264|The Night of the ...|The film is set i...|['Black-and-white...|    1|     0|           0|       1|     0|           0|            1|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|(262144,[2219,420...|
|   77605|  One Foot in Heaven|The film follows ...|['Black-and-white...|    1|     0|           0|       0|     0|           0|            0|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[4869,172...|
|  133480|               Bugsy|Gangster Benjamin...|['Drama', 'Crime ...|    1|     0|           1|       0|     0|           0|            1|     0|              0|    0|               0|        0|          0|         0|             1|        0|      0|              0|      0|              0|(262144,[2326,251...|
|  158982|     You've Got Mail|Kathleen Kelly  i...|['Comedy', 'Roman...|    0|     1|           1|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              1|(262144,[1879,538...|
|  226562|             Tin Cup|Roy "Tin Cup" McA...|['Drama', 'Comedy...|    1|     1|           1|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              1|(262144,[571,2143...|
|  290633|The Object of My ...|Social worker Nin...|['Drama', 'Comedy...|    1|     1|           1|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              1|(262144,[1493,199...|
|  309159|          Teheran 43|The movie is abou...|['Crime Fiction',...|    1|     0|           1|       1|     1|           0|            1|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[2710,428...|
|  418252|      One-Eyed Jacks|Rio , his partner...|['Action/Adventure']|    0|     0|           0|       0|     0|           0|            0|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[5315,664...|
|  613518|Win a Date with T...|The film opens wi...|['Comedy', 'Roman...|    0|     1|           1|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              1|(262144,[2410,243...|
|  685720|     The Last Tycoon|Monroe Stahr  is ...|['Drama', 'Romanc...|    1|     0|           1|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             1|        0|      0|              0|      0|              0|(262144,[4335,484...|
|  872497|The Count of Mont...| Edmond Dantès an...|['Crime Fiction',...|    1|     0|           1|       1|     1|           0|            1|     0|              0|    0|               1|        1|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[619,2525...|
|  873469|Harold & Kumar Go...| Investment banke...|['Adventure', 'Co...|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        1|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[1761,410...|
|  876872|Addams Family Values|Gomez  and Mortic...|['Comedy', 'Famil...|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          1|         0|             0|        0|      0|              0|      0|              0|(262144,[1029,144...|
|  887025|           Wishcraft|A high school stu...|          ['Horror']|    0|     0|           0|       0|     0|           0|            0|     1|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[5381,606...|
| 1164646|   Iron Jawed Angels|The film begins a...|  ['Indie', 'Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    1|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[1707,915...|
| 1774803|Bridget Jones's D...|Bridget Jones  is...|['Drama', 'Comedy...|    1|     1|           1|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              1|(262144,[14,211,2...|
| 1981790|      The Naked City|The film opens at...|['Black-and-white...|    1|     0|           0|       1|     0|           0|            1|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|(262144,[14,1807,...|
| 2279610|            Gaslight|Alice Barlow  is ...|['Black-and-white...|    1|     0|           0|       1|     0|           0|            0|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|(262144,[3924,606...|
| 2305752|    The Players Club|Diana Armstrong ,...| ['Comedy', 'Drama']|    1|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[204,4596...|
| 2439340|   Moving Violations|The film follows ...|          ['Comedy']|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|(262144,[5463,172...|
+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
only showing top 20 rows

In [45]:
# On test data
tfidf=test_cleaned.withColumn("pro_plot", concat_ws(",", "pro_plot"))
tfidf = (tfidf
  .rdd
  .map(lambda x : (x.movie_id,x.pro_plot.split(",")))
  .toDF()
  .withColumnRenamed("_1","movie_id")
  .withColumnRenamed("_2","features2"))

htf = MLHashingTF(inputCol="features2", outputCol="tf")
tf = htf.transform(tfidf)
idf = MLIDF(inputCol="tf", outputCol="idf")
tfidf_df = idf.fit(tf).transform(tf)
idf_df_test = tfidf_df.join(movie_test.select('movie_id'), on=['movie_id']).drop('pro_plot','tf','features2')
idf_df_test.show()

+--------+--------------------+
|movie_id|                 idf|
+--------+--------------------+
|   62693|(262144,[1836,306...|
|  296252|(262144,[170,571,...|
| 1356971|(262144,[511,9129...|
| 1428872|(262144,[86,5595,...|
| 1582173|(262144,[1446,421...|
| 1595142|(262144,[14,469,1...|
| 1600825|(262144,[460,1836...|
| 1681132|(262144,[991,1998...|
| 2268290|(262144,[211,2910...|
| 3327607|(262144,[5083,538...|
| 3569957|(262144,[119,1076...|
| 4413498|(262144,[3067,530...|
| 4635580|(262144,[1998,392...|
| 4950989|(262144,[535,1769...|
| 5565692|(262144,[6446,141...|
| 7003785|(262144,[2410,306...|
| 8269287|(262144,[571,1613...|
| 9560197|(262144,[329,1652...|
|10731337|(262144,[1322,329...|
|11192132|(262144,[5595,606...|
+--------+--------------------+
only showing top 20 rows

# **Training and Testing Model by Logistic Regression with TF_IDF**

In [0]:
predlist_2=[]
for i in range(len(map_list)):
  lr = LogisticRegression(featuresCol = 'idf', labelCol = names[i], maxIter=10)
  lrModel = lr.fit(idf_df)

  predictions = lrModel.transform(idf_df_test)
  predictions=predictions.withColumn('prediction',F.col("prediction").cast(IntegerType()))
  predlist_2.append(predictions.select('movie_id','prediction'))

In [0]:
from functools import reduce
dfs_new=[df.selectExpr('movie_id',f'prediction as prediction_{i}') for i, df in enumerate(predlist_2)]
dfs_temp=reduce(lambda x,y:x.join(y,['movie_id'],how='full'),dfs_new)
columns = ['prediction_%d' %i for i in range(len(predlist_2))]
dfs_temp =dfs_temp.withColumn('predictions',concat_ws(" ",*columns)).drop(*columns).toPandas().to_csv('sample2.csv',index=False,header=True)

In [56]:
out2 = pd.read_csv('sample2.csv')
out2

      movie_id                              predictions
0        62693  1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
1       296252  1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
2      1356971  1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
3      1428872  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
4      1582173  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
...        ...                                      ...
7772  32032279  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7773  33509716  1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
7774  33645448  0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
7775  34195696  0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
7776  36025899  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[7777 rows x 2 columns]

# **Part-3**

# **Word2Vec**

In [15]:
# On train data
word2vec = Word2Vec(vectorSize = 300, minCount = 10, inputCol = 'pro_plot', outputCol = 'features3')
model = word2vec.fit(train_cleaned)
wtov = model.transform(train_cleaned)
wtov_df = train_df.join(wtov.select('movie_id','features3'), on=['movie_id'])
wtov_df.show()

+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
|movie_id|          movie_name|                plot|               genre|Drama|Comedy|Romance Film|Thriller|Action|World cinema|Crime Fiction|Horror|Black-and-white|Indie|Action/Adventure|Adventure|Family Film|Short Film|Romantic drama|Animation|Musical|Science Fiction|Mystery|Romantic comedy|           features3|
+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
|     330|             Actrius|In order to prepa...|           ['Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[0.06660799267701...|
|    3217|    Army of Darkness|After being pulle...|['Action/Adventur...|    0|     1|           0|       0|     1|           0|            0|     1|              0|    0|               1|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0208223319296...|
|    3837|     Blazing Saddles|In the American O...|          ['Comedy']|    0|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0112375180823...|
|    3947|         Blue Velvet|Jeffrey Beaumont ...|['Crime Fiction',...|    0|     0|           0|       1|     0|           0|            1|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|[-0.0334683068476...|
|    4227|        Barry Lyndon| :By What Means R...|['Drama', 'Romanc...|    1|     0|           1|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[0.02109551534268...|
|    4231|Buffy the Vampire...|Buffy Summers  is...|['Action', 'Comed...|    0|     1|           0|       0|     1|           0|            0|     1|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0142291449111...|
|    4560|          Braveheart|In the 13th centu...|['Action/Adventur...|    1|     0|           0|       0|     1|           0|            0|     0|              0|    0|               1|        1|          0|         0|             0|        0|      0|              0|      0|              0|[0.02530581118933...|
|    4727|              Batman|When Batman  and ...|['Action/Adventur...|    0|     1|           0|       0|     1|           0|            0|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0111435660963...|
|    4729|      Batman & Robin| In Gotham City, ...|['Crime Fiction',...|    0|     0|           0|       1|     1|           0|            1|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              1|      0|              0|[-0.0034546473967...|
|    5224|        Citizen Kane|Charles Foster Ka...|['Black-and-white...|    1|     0|           0|       0|     0|           0|            0|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|[0.02376626904567...|
|    5313|Crouching Tiger, ...|Li Mu Bai  is an ...|['Drama', 'Advent...|    1|     0|           1|       0|     1|           0|            0|     0|              0|    0|               0|        1|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0077419055916...|
|    5729|    Chariots of Fire|In 1919, Harold A...|           ['Drama']|    1|     0|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[0.00685366452638...|
|    8481|     Dressed to Kill|Kate Miller is a ...|['Indie', 'Thrill...|    0|     0|           0|       1|     0|           0|            0|     1|              0|    1|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|[-0.0409135315961...|
|    8695|Dr. Strangelove o...| United States Ai...| ['Comedy', 'Drama']|    1|     1|           0|       0|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0048080004685...|
|    8994|            Das Boot|The story is told...|['Action', 'Thril...|    1|     0|           0|       1|     1|           1|            0|     0|              0|    0|               1|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0272902397211...|
|    9429|  Young and Innocent| Christine Clay ,...|['Black-and-white...|    0|     0|           0|       1|     0|           0|            1|     0|              1|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0242215694332...|
|    9835|Escape from New York|In a dystopian 19...|['Crime Fiction',...|    0|     0|           0|       1|     1|           0|            1|     0|              0|    1|               1|        0|          0|         0|             0|        0|      0|              1|      0|              0|[-0.0387492887164...|
|    9979|      Eyes Wide Shut|Dr. Bill Harford ...|['Drama', 'Thrill...|    1|     0|           1|       1|     0|           0|            0|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      1|              0|[-0.0104326297011...|
|   10193|    Enter the Dragon|Lee  is a Shaolin...|['Crime Fiction',...|    1|     0|           0|       1|     1|           0|            1|     0|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0015301805984...|
|   10487|        Evil Dead II|Ash Williams  and...|['Comedy', 'Horror']|    0|     1|           0|       0|     0|           0|            0|     1|              0|    0|               0|        0|          0|         0|             0|        0|      0|              0|      0|              0|[-0.0252461617247...|
+--------+--------------------+--------------------+--------------------+-----+------+------------+--------+------+------------+-------------+------+---------------+-----+----------------+---------+-----------+----------+--------------+---------+-------+---------------+-------+---------------+--------------------+
only showing top 20 rows

In [17]:
# On test data
word2vec = Word2Vec(vectorSize = 300, minCount = 10, inputCol = 'pro_plot', outputCol = 'features3')
model = word2vec.fit(test_cleaned)
wtov = model.transform(test_cleaned)
wtov_df_test = wtov.join(movie_test.select('movie_id'), on=['movie_id']).drop('pro_plot')
wtov_df_test.show()

+--------+--------------------+
|movie_id|           features3|
+--------+--------------------+
|   62693|[-0.0079939511846...|
|  296252|[-1.4927848791384...|
| 1356971|[-0.0261648152067...|
| 1428872|[-0.0159300268285...|
| 1582173|[-7.2602411646152...|
| 1595142|[-0.0176014661049...|
| 1600825|[-0.0030873266397...|
| 1681132|[0.00468130292569...|
| 2268290|[-0.0055558304249...|
| 3327607|[-0.0145524695582...|
| 3569957|[-0.0177347661248...|
| 4413498|[-3.1717733524620...|
| 4635580|[-0.0294743645623...|
| 4950989|[-0.0231792936837...|
| 5565692|[-0.0025541719253...|
| 7003785|[0.00933833959861...|
| 8269287|[-0.0056277224013...|
| 9560197|[-0.0035379482192...|
|10731337|[-0.0152597736673...|
|11192132|[-0.0121372614042...|
+--------+--------------------+
only showing top 20 rows

# **Training and Testing Model by Logistic Regression with word2vec**

In [0]:
predlist_3=[]
for i in range(len(map_list)):
  lr = LogisticRegression(featuresCol = 'features3', labelCol = names[i], maxIter=20,regParam=0.1)
  lrModel = lr.fit(wtov_df)

  predictions = lrModel.transform(wtov_df_test)
  predictions=predictions.withColumn('prediction',F.col("prediction").cast(IntegerType()))
  predlist_3.append(predictions.select('movie_id','prediction'))

In [0]:
from functools import reduce
dfs_new=[df.selectExpr('movie_id',f'prediction as prediction_{i}') for i, df in enumerate(predlist_3)]
dfs_temp=reduce(lambda x,y:x.join(y,['movie_id'],how='full'),dfs_new)
columns = ['prediction_%d' %i for i in range(len(predlist_3))]
dfs_temp =dfs_temp.withColumn('predictions',concat_ws(" ",*columns)).drop(*columns).toPandas().to_csv('sample3.csv',index=False,header=True)

In [28]:
out3 = pd.read_csv('sample3.csv')
out3

      movie_id                              predictions
0        62693  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
1       296252  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
2      1356971  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
3      1428872  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
4      1582173  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
...        ...                                      ...
7772  32032279  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7773  33509716  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7774  33645448  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7775  34195696  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
7776  36025899  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[7777 rows x 2 columns]